body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    padding: 2rem;
}

.payment-container {
    max-width: 500px;
    background-color: white;
    padding: 2rem;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.payment-container img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.book-info {
    margin-bottom: 1.5rem;
}

.book-info h2 {
    margin-bottom: 0.5rem;
}

.payment-method,
.card-box {
    margin-bottom: 1.5rem;
}

select,
input[type="text"] {
    width: 100%;
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.confirm-btn {
    background-color: #0a2b61ce;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.confirm-btn:hover {
    background-color: #0c936b;
}

.backBtn{
    background-color: #0a2b61ce;
    color: white;
    border: none;
    padding: 1rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 13.9rem;
}
.backBtn:hover {
    background-color: #0c936b;
}
